## Ejercicio 2
### Pandas

+ Manipulaci√≥n de dataframes
+ Limpieza de datos (funciones lambda)
+ Conclusiones sobre los datos (pivots)

El dataset de este ejercicio es un detalle de los atributos de todos los futbolistas incluidos en la base de datos de FIFA 19. Tenemos variables como nacionalidad, peso, altura, tambien variables de rendimiento como calificacion general (overall, potential) entre otros. El dataset esta dividido en 2 bases el objetivo de este ejercicio es construir una sola base y obtener insights

### REALIZADO POR: Fernanda Castro

In [1]:
import requests, zipfile 
from urllib.request import urlopen
from io import BytesIO
import pandas as pd
import numpy as np

In [5]:
zip_file_url = 'https://github.com/vanejaime/Curso_Python_CD/raw/master/datasets/FIFA19.csv.zip'
remote_zip_file = urlopen(zip_file_url)
zipinmemory = BytesIO(remote_zip_file.read())
zip_file = zipfile.ZipFile(zipinmemory)

data1 = pd.read_csv(zip_file.open(zip_file.namelist()[0]),encoding='850') #si tienen problemas intentar encoding='utf-8' o quitar la opcion encoding
data2 = pd.read_csv(zip_file.open(zip_file.namelist()[1]),encoding='850')
dict_position = pd.read_csv(zip_file.open(zip_file.namelist()[2]),encoding='850')

In [4]:
zip_file.namelist()

['data1.csv', 'data2.csv', 'Significado_Posiciones.csv', 'Variables.csv']

In [3]:
data1.head()

,Row,ID,Name,Age,Nationality,Overall,Potential,Club,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Position,Jersey Number,Joined,Loaned From,Contract Valid Until
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,Left,5.0,4.0,4.0,RF,10.0,1/07/2004,NaN,2021
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,Right,5.0,4.0,5.0,ST,7.0,10/07/2018,NaN,2022
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,Right,5.0,5.0,5.0,LW,10.0,3/08/2017,NaN,2022
3,3,193080,De Gea,27,Spain,91,93,Manchester United,Right,4.0,3.0,1.0,GK,1.0,1/07/2011,NaN,2020
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,Right,4.0,5.0,4.0,RCM,7.0,30/08/2015,NaN,2023

In [4]:
data2.head()

,Row,ID,Height(in),Weight(lbs),Release Clause(Eur),Value(Eur),Wage(Eur)
0,0,158023,67,159.0,2.265000e+09,1105000000,565000
1,1,20801,74,183.0,1.271000e+09,77000000,405000
2,2,190871,69,150.0,2.281000e+09,1185000000,290000
3,3,193080,76,168.0,1.386000e+09,72000000,260000
4,4,192985,71,154.0,1.964000e+09,102000000,355000

In [5]:
dict_position.head()

  Position     Significado
0      CAM  Medio Campista
1       CB         Defensa
2      CDM  Medio Campista
3       CF       Delantero
4       CM  Medio Campista

### PARTE A.

1. Unir las bases data1 y data2.
2. Eliminar columnas innecesarias.
3. Establecer como indice del dataframe la columna ID (id √∫nico para cada futbolista)
4. Crear una variable "Significado" esta variable corresponde al significado que tienen las siglas de la columna Position, el significado de cada sigla lo encuentran en el dataframe dict_position
5. A los valores vacios √≥ en 0 de la columna Release Clause asignarles el min de dicha columna (imprimir cuantos NaN hay)
6. A los valores vacios √≥ en 0 de la columna Value asignarles la media de dicha columna (imprimir cuantos NaN hay)
7. A los valores vacios √≥ en 0 de la columna Wage asignarles el maximo de dicha columna (imprimir cuantos NaN hay)
8. Arreglar la columna Height, convertirla a cm (actualmente en in)
9. Arreglar la columna Weight, convertirla a kg (actualmente en lbs)

In [6]:
#1. Union

In [7]:
#2. Eliminar columnas innecesarias

#3. Indice va a ser el ID del jugador

In [8]:
#4. Establecer como indice del dataframe la columna ID (id √∫nico para cada futbolista)

In [9]:
#5. A los valores vacios √≥ en 0 de la columna Release Clause asignarles el minimo de dicha columna

In [10]:
#6. A los valores vacios √≥ en 0 de la columna Value asignarles la media de dicha columna (imprimir cuantos NaN hay)

In [11]:
#7. A los valores vacios √≥ en 0 de la columna Wage asignarles el maximo de dicha columna (imprimir cuantos NaN hay)

In [12]:
#8. Arreglar la columna Height, convertirla a cm (actualmente en in)

In [13]:
#9. Arreglar la columna Weight, convertirla a kg (actualmente en lbs)

### PARTE B.
Hint: Pivot, Counts, max, min, indexaci√≥n.

Conteste las siguientes preguntas:
1. Cual es el jugador mas y menos pesado?
2. Cual es el jugador mas y menos alto?
3. Cual es el jugador mas y menos viejo?
4. AntiTop 10 de jugadores seg√∫n overall
5. Cual es la distribuci√≥n de jugadores por Pa√≠s? (Tabla)
6. Cual es la distribuci√≥n de jugadores por Edad? (Tabla)
7. Cual es la distribuci√≥n de jugadores por Posici√≥n (columna Significado)? (Tabla)
8. Cual es el promedio de altura, peso por pa√≠s
9. Cual es el promedio de altura, peso por equipo
10. Cual es el equipo mas caro eg√∫n el salario (wage)
11. Cual es el equipo mas economico seg√∫n el salario (wage)
12. Cual es la distribuci√≥n de jugadores por pie preferido?
13. Cual es la relacion entre el pa√≠s de origen y la posici√≥n?
14. Cual es numero de camiseta mas y menos usado?
15. Cual es el equipo que mas cede jugadores a otros equipos?
16. Cual es el equipo que menos cede jugadores a otros equipos?
17. Cual es el equipo que mas recibe jugadores de otros equipos?
18. Cual es el promedio de salario (wage) por posicion (significado)?
19. Cual es el equipo con mas valor en el mercado (Value)?
20. Cual es el equipo con menos valor en el mercado (Value)?
21. Top 7 de jugadores de clausulas de permanencia, muestre al equipo al que pertenece. (Release Clause(Eur))
22. Cual es el pa√≠s con los mejores jugadores (overrall y potential) (Tabla)
23. Cual es el pa√≠s con los peores jugadores (overrall y potential) (Tabla)
24. Cree que hay relaci√≥n entre el Valor del jugador y el pa√≠s de origen?
25. Cree que hay relaci√≥n entre el Valor del jugador y la edad?
26. Haga un histograma sobre la variable Contract Valid Until, que dice este histograma?
27. Cual es el promedio de edad por posici√≥n?
28. Cual es el promedio de peso por posici√≥n?
29. Cual es el promedio de altura por posici√≥n?
30. Agregue cualquier otra conclusi√≥n que detecte en el an√°lisis de la base anterior